body {
    margin: 0;
    padding: 0;
}
button{
    appearance: none;
    color:black;
    background-color: #fff;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
}
#map {
    position: absolute;
    padding: 10px 10px;
    width: 98%;
    height: 98%;
    border-radius: 10px;
}
.map-overlay {
    position: absolute;
    padding: 0;
}
